{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm text-center">
    <form action="/jobs/new" method="POST">
        <fieldset>
            <h1 class="text-center">Job Form </h1>
                <div class="text-center">
                    <legend class="text-center"> </legend>
                    <label class="form-label text-center"> 
                       Create Job </label>
                        <input 
                        type="text"
                        name="order_number"
                        placeholder="Order Number"
                        class="form-control text-center"
                        required
                        >
                        <input 
                        type="text"
                        name="sku"
                        placeholder="SKU"
                        class="form-control text-center"
                        required
                        >
                        <input 
                        type="number"
                        name="quantity"
                        placeholder="Quantity"
                        class="form-control text-center"
                        required
                        >
                        <input 
                        type="number"
                        name="stones"
                        placeholder="Number of Stones"
                        class="form-control text-center"
                        required
                        >
                        <input 
                        id="date"
                        type="text"
                        name="date"
                        placeholder="Date (DD/MM/YY)"
                        class="form-control text-center"
                        required
                        >
                        <input 
                        type="text"
                        name="description"
                        placeholder="Description"
                        class="form-control text-center"
                        required
                        >
                        <select name="setter">
                            <option value="A">Setter A</option>
                            <option value="B">Setter B</option>
                            <option value="C">Setter C</option>
                          </select>
                    </fieldset>
                <input type="submit" value="Submit Job Form" >
            </form>
            <div class="text-center">
                <button><a href="/jobs" >All Jobs</a></button>
            </div>
        </div>
    </br>
    </div>
    {% endblock %}
    
