
        <span>
            <h3>Filter </h3>
            <form action="/jobs/show"> 
                <input 
                type="text"
                name="order_number"
                placeholder="Order Number"
                class="form-control text-center"
                type="submit"
                >
            <input 
            type="text"
            name="sku"
            placeholder="Sku"
            class="form-control text-center"
            >
            <input 
            type="text"
            name="setter"
            placeholder="Setter"
            class="form-control text-center"
            >
            <!-- <input 
            type="text"
            name="createdAt"
            placeholder="Created At"
            class="form-control text-center"
            >  -->
           
              <input type="submit"  class="btn btn-light">
            </form> 
        </a>
        </span>