/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
} */
table, th, td {
    border:1px solid black;
  }
#input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}